@use './design' as *;

//DEFAULT CARD STYLE
.feature__card {
    border-radius: $space-sm;
    padding: $space-xl;

    display: flex;
    flex-direction: column;
    gap: $space-md;

    box-shadow: 40px 60px 50px -47px #48556a3d;
    -webkit-box-shadow: 40px 60px 50px -47px #48556a3d;
    -moz-box-shadow: 40px 60px 50px -47px #48556a3d;

    h2 {
        @include text-preset-1;
    }
    h3 {
        @include text-preset-2;
    }
    h4 {
        @include text-preset-4;
    }
    p {
        @include text-preset-3;
    }
}

//INDIVIDUAL CARD STYLES
.feature__card {
    &--daniel {
        background-color: $color-8;
        h4, p{
            color: $color-10;
        }

        @media (min-width: $breakpoint-tablet) {
        display: grid;
        grid-area: top;
        }
    }

    &--jonathan{
        background-color: $color-4;
        h4, p{
            color: $color-7;
        }
    }

    &--jeanette {
        background-color: $color-1;
        h2, h3{
            color: $color-4;
        }
        h4, p{
            color: $color-5;
        }
    }

    &--patrick {
        background-color: $color-3;
        h2{
            color: $color-6;
        }
        p{
            color: $color-7;
        }

        @media (min-width: $breakpoint-tablet) {
        display: grid;
        grid-area: bottmid;
        }
    }

    &--kira {
        background-color: $color-1;
        h2, h3{
            color: $color-4;
        }
        h4, p{
            color: $color-5;
        }

        @media (min-width: $breakpoint-tablet) {
        display: grid;
        grid-area: bottom;
        }
    }
}

//FEATURE HEADER
.feature__header {
    display: grid;
    gap: 0.25rem 1.0625rem;
    grid-template-areas: 
    "left right1"
    "left right2";
    grid-template-columns: auto 1fr;

    &--img {
        width: 28px;
        height: 28px;
        border-radius: 100%;

        grid-area: left;
    }
    &--stroke-patrick {
        box-shadow: 0px 0px 0px 2px $color-8;
        -webkit-box-shadow: 0px 0px 0px 2px $color-8;
        -moz-box-shadow: 0px 0px 0px 2px $color-8;
    }
    &--stroke-daniel {
        box-shadow: 0px 0px 0px 2px $color-9;
        -webkit-box-shadow: 0px 0px 0px 2px $color-9;
        -moz-box-shadow: 0px 0px 0px 2px $color-9;
    }
}