@use './design' as *;

.feature__card {
    border-radius: $space-sm;
    padding: $space-xl;

    display: flex;
    flex-direction: column;
    gap: $space-md;

    & h2 {
        @include text-preset-1;
    }
    & h3 {

    }
    & h4 {

    }
    & p {

    }
    
}