@use './design' as *;

.feature {
    width: clamp(260px, 81.3333vw, 485px);
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    @media (min-width: $breakpoint-tablet) {
        width: clamp(647px, 81.3333vw, 770px);

        display: grid;
        grid-template-areas: 
        "top top"
        "topmid1 topmid2"
        "bottmid bottmid"
        "bottom bottom"
        ;
    }
}