@use './design' as *;

.feature {
    width: clamp(260px, 81.3333vw, 485px);
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    @media (min-width: $breakpoint-tablet) {
        width: clamp(647px, 81.3333vw, 770px);

        display: grid;
        grid-template-areas: 
        "top top"
        "topmid1 topmid2"
        "bottmid bottmid"
        "bottom bottom"
        ;
    }
    @media (min-width: $breakpoint-desktop) {
        width: clamp(770px, 77.3611vw, 1400px);

        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "top-left top-left top-mid right"
        "bottom-left bottom-mid bottom-mid right";
    }
}