@use './design' as *;

.feature {
    width: clamp(260px, 81.3333vw, 485px);
    max-height: 1967px;

    display: flex;
    flex-direction: column;
    gap: $space-xl;

    @media (min-width: $breakpoint-tablet) {
        width: clamp(647px, 84.2447vw, 770px);
        max-height: 1157px;

        display: grid;
        grid-template-areas: 
        "top top"
        "topmid1 topmid2"
        "bottmid bottmid"
        "bottom bottom"
        ;
    }
    @media (min-width: $breakpoint-desktop) {
        width: clamp(1114px, 77.3611vw, 1400px);
        max-height: 582px;

        row-gap: $space-lg;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "top-left top-left top-mid right"
        "bottom-left bottom-mid bottom-mid right";
    }
}