@use './design' as *;

body {
    color: $color-1;
    background-color: $bg-color-primary;
}

main {
    min-height: 100vh;

    display: flex;
    justify-content: center;

    padding: 4.5625rem 2.1875rem;
}