//COLORS
$bg-color-primary: #F6F5F6;

$color-1: #fff;     //White
$color-2: #121212;  //Black
$color-3: #19202D;  //Dark Blue

$color-4: #48556A;   //Grey 500
$color-5: #676D7E;  //Grey 400
$color-6: #CFCFCF;  //Grey 200
$color-7: #E7EAEE;  //Grey 100

$color-8: #733FC8;  //Purple 500
$color-9: #A775F1;  //Purple 300
$color-10: #EDE4FF; //Purple 50

//SPACINGS
$space-xxl: 2.5rem;  //500-40px
$space-xl: 2rem;     //400-32px
$space-lg: 1.5rem;   //300-24px
$space-md: 1rem;     //200-16px
$space-sm: 0.5rem;   //100-8px
$space-xm: 0.25rem;  //50-4px

//BREAKPOINTS
$breakpoint-tablet: 48rem; //768px
$breakpoint-tablet: 90rem; //1440px